<!DOCTYPE html>
<html lang =en> 
    <head>
        <meta charset = "utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <title>FLOAT</title>
        
    </head>
    <body class="min-h-screen flex items-center justify-center">
        <main class="w-full">
            {% block content %}
        
            {% endblock %}
    </body>

</html>